body{
    background-color: #dddddd;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 50px 1fr 50px;
}
a:link{
    color: black;
}
a:visited{
    color: black;
}

.header-background{
    background-color: #017cc2;
    width: 100%;
    height: 50px;
}
header{
    margin: 0 auto;
    max-width: 1400px;
    display: grid;
    grid-template-columns: 150px 1fr;
}
header *{
    text-decoration: none;
}
header p{
    margin-left: 50px;
}
.login ul{
    list-style: none;
}
.login ul li{
    float: right;
    width: 100px;
}
header a:link{
    color: azure;
}
header a:visited{
    color: azure;
}

.background{
    max-width: 1400px;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 70px 1fr;
}

.nav-background{
    margin: 10px;
    display: grid;
    grid-template-columns: 1fr;
}
.nav-background nav{
    background-color: white;
    border: 1px solid #004890;
}
nav *{
    text-decoration: none;
}
.nav-background nav ul{
    list-style: none;
}
.nav-background nav ul li{
    width: 100px;
    float: left;
}

.body-background{
    display: grid;
    grid-template-columns: 3.5fr 1fr;
}
.body-background section{
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid #004890;
}
.body-background main{
    margin: 10px;
    padding: 10px 20px 10px 20px;
    background-color: white;
    border: 1px solid #004890;
}

.footer-background{
    margin-top: 10px;
    background-color: #017cc2;
    height: 200px;
}
.footer-background footer{
    margin: 0 auto;
    max-width: 1400px;
    padding-top: 30px;
    padding-bottom: 40px;
    text-align: center;
}
.footer-background footer *{
    color: azure;
    font-style: normal;
    text-decoration: none;
}
.footer-background footer a:link{
    color: azure;
}
.footer-background footer a:visited{
    color: azure;
}

@media(max-width:960px){
    .body-background{
        display: block;
    }
}